<p id="notice"><%= notice %></p>

<!-- create a placeholder for the flot graph -->
<h2>Kuhmo, Kalliojoki</h2>
<div id="flot-placeholder" style="width:600px; height: 400px"></div>

<script type="text/javascript">
$(function() {
    var seriesdata = [];
    var flotdata = [];
    var options = {
                xaxis: {
                    mode: "time"
                }
            };

    function onDataReceived(data, seriesname, seriesorder) {
        flotdata = [];
        for (i = 0; i < data.length; i++) {
            flotdata.push([new Date(data[i]['ts']).getTime(), 1.0 * data[i]['val']]);
        }

        console.log(flotdata);

        seriesdata[seriesorder] = {label: seriesname, data: flotdata};

        $.plot("#flot-placeholder", seriesdata, options);
    }

    function getSeries(seriesname, seriesorder) {
        $.ajax({
            url: '/measurements.json?n=' + seriesname + '&starttime=<%= @params[:starttime] %>',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                onDataReceived(data, seriesname, seriesorder);
            }
        });
    }
    getSeries('tmax', 0);
    getSeries('tday', 1);
    getSeries('tmin', 2);
});
</script>

<h1>Listing Measurements</h1>

<table>
  <thead>
    <tr>
      <th>Val</th>
      <th>Name</th>
      <th>Position</th>
      <th>Ts</th>
      <th>Inserted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @measurements.each do |measurement| %>
      <tr>
        <td><%= measurement.val %></td>
        <td><%= measurement.name %></td>
        <td><%= measurement.position %></td>
        <td><%= measurement.ts %></td>
        <td><%= measurement.inserted %></td>
        <td><%= link_to 'Show', measurement %></td>
        <td><%= link_to 'Edit', edit_measurement_path(measurement) %></td>
        <td><%= link_to 'Destroy', measurement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= @params %>
<br>

<%= link_to 'New Measurement', new_measurement_path %>

